#Letter{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100vh 100vw;
  backdrop-filter: blur(10px);
}
#next{
  margin-left: 90%;
  width: 4vh;
  height: 4vh;
  font-size: 4vh;
}
#intro{
  animation: appear1 3s;
}
@keyframes appear1 {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
