#matchingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#match1 {
  font-size: 3vh;
  color: aliceblue;

  #teamName,
  #matchDgree {
    font-size: 4.5vh;
    display: contents;

  }
}
#match2{
  color: rgb(45,102,144);
  font-size: 2vh;
}