@pStyle: {
  width: max-content;
  font-size: 4.5vw;
  text-shadow: 0 0 5px #fff,
    0 0 20px #fff;
  letter-spacing: 0.5vw;
}

#mainpage {
  color: azure;
  height: 100VH;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



@keyframes appear0 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
#MaintitleBox{
  padding-top: 10vh;
}

#Maintitle1 {
  background-image: url('../../assets/星河守护.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vw;
  height: 19.19vw;


}

#Maintitle2 {
  background-image: url('../../assets/永无止境的挑战.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vw;
  height: 5.10vw;  
  margin-top: 1.5vh;
}

#Maintitle3 {
  background-image: url('../../assets/欢迎来到星际帝国.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 3.9vw;
  padding-top:5vh;
}

.Centralstar {
  background-image: url("../../assets/中心星体.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 84vw;
  height: 48.8vw;
  z-index: 102;
  animation: CentralstarFloat 3s infinite alternate;
  padding-bottom: 20vh;
}
