#Letter {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100vh 100vw;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Letter p {
  color: aliceblue;
  font-size: 6vw;
  margin-top: 0;
}

#letter1 {
  width: 70vw;
  height:25vh;
  background-color: aliceblue;
  margin-bottom: 25vh;
}